h1{
    color: rgba(255, 255, 255, 0.90);
    font-size: 50px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: 30px;
    margin: 0;
}

h1>span{
    color:#FF6E30;
}

.hero>.container>p{
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    font-family: Poppins;
    line-height: 30px;
    margin: 0;

    padding-bottom: 60px;
}

.input_form>input{
    color: rgba(255, 255, 255, 0.38);
    font-size: 14px;
    font-family: Poppins;
    width: 200px;



    background: none;
    border: none;

}

.input_form>button {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    background: #FF6E30;
    padding: 12px 36px;


}
.input_form{

    width: 495px;

    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background: #283036;
    padding: 8px 11px;


}

.hero{
    background-image: url(../img/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -130px;


    padding-top: 90px;
    

}



.contact_list>li {
    /* width: 44px;
    height: 44px; */
    padding: 11px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 1.3s;

}

.contact_list>li:hover,
.contact_list>li:hover path {
    fill: #FFF;
    background: #FF6E30;
}


.contact_list {
    display: flex;

    gap: 10px;
    padding-left: 0;
    margin-bottom: 30px;
    margin-top: 14px;

    margin: 0;
    margin-top: 110px;



}