.inputsec_title{
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 130%;

    margin: 0;
    text-align: center;
    padding-bottom: 25px;
}

.inputsec_p{
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 30px;

    margin: 0;
    text-align: center;
    padding-bottom: 100px;
}

.inpform_sec2{
    display: flex;
    margin: 0 auto;
}

.input_sec{
    padding-bottom: 240px;
}