.title_newcomer{
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
    margin-bottom: 30px;
}

.newcomer_right_p{
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    margin-bottom: 60px;
}

.newcomer_right_btn{
    color: #FFF;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;

    border-radius: 8px;
    background: #FF6E30;
    padding: 15px 40px;

}

.newcomer_right_list{
    padding: 0;
    width: 401px;

}

.cards_wrap2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 590px;
    margin: 0;
}

.newcomer_flex{
    display: flex;
    gap: 192px;
    
}

.cards_wrap2>li{
    width: 288px;
    margin-bottom: 50px;
}