@import "./header.css";
@import "./hero.css";
@import "./cards.css";
@import "./brands.css";
@import "./newcomer.css";
@import "slider.css";
@import "inputsec.css";
@import "footer.css";

body{
    background: #1E252B;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

input{
    outline: none;
}

.hr{
    background-color: rgba(255, 255, 255, 0.15);
    height: 0.5px;
    border:none;
}
.btn_animation1{
    transition: 1.3s;

}

.btn_animation1:hover{
    transform: scale(1.1);
    cursor: pointer;
}